body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
h1,h2,p{
    margin: 0px;
}
a{
    color: #766CF1;
    text-decoration: none;
    font-weight: 600;

}
a:hover{
    text-decoration: underline;

}
.curve{
    position: absolute;
    z-index: 1;
}

/* Styling the svg curves -- wrapper */
.wrapper{
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #E0E8FF;  
}

/* styling the card section -- card */
.card{
    display: flex;
    overflow: hidden;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding-bottom: 20px;
    height: 657px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}
.card-img{
    width: 100%;
    height: 220px;
    background: url('./musicImg.png') no-repeat;
}
.order-summary{
    height: 210px;
    display: flex;
    padding: 13px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.order-summary .title{
    color: #1F2E55;

    font-weight: 900;
    font-size: 28px;
}
.order-summary .desc{
    width: 80%;
    line-height: 26px;
    color: #717FA6;
}
/* plan-section */
.plan{
    display: grid;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

   grid-template-columns: 60px 1fr 80px;
   gap: 15px;
    width: 80%;
    height: 100px;
    
    background: #F7F9FF;
}
.music-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #DFE6FB;
    border-radius: 50%;
}
.annual-text{
    font-size: 16px;
    padding-bottom: 7px;
    font-weight: bold;
    color: #1F2E55;
}
.price-text{
    font-size: 16px;

    color: #717FA6;
}
/* buttons */
.proceed-btn{
    background: #382AE1;
    width: 80%;
    color: #fff;
    font-weight: bold;

    padding: 18px;
    margin-top: 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    text-align: center;
}
.proceed-btn:hover{
    background: #766CF1;
    transition: 0.2s;
}
.cancel-btn{
    color: #717FA6;
    margin-top: 30px;
    font-weight: bold;
}
.cancel-btn:hover{
    color: #1F2E55;
    transition: 0.2s;
}
.btn{
    cursor: pointer;
}