*{
    box-sizing: border-box;
}
:root{
    --color: #A390E4;
    --body: #7F7EFF;
    --text: #2a286de7;

}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--body);
}

.wrapper{
    width: 100vw;
   
    height: 100vh;
    display: grid;
   align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(350px , 1fr));
    grid-row-gap: 60px;
}
.box{
    padding: 20px;
   width: 350px;
    justify-self: center;
    height: 450px;
    display: grid;
    color: var(--text);
    background: linear-gradient(145deg, #7271e6, #8887ff);
    text-align: center;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    position: relative;
}
h1{
    font-size: 42px;
}
.desc{
    width: 93%;
    justify-self: center;
    line-height: 25px;
}
.num{
    position: absolute;
    
    width: 100%;
    height: 100%;
    top: 0px;

    border-radius: 0%;
    background: linear-gradient(145deg, #7271e6, #8887ff);
    box-shadow:  35px 35px 70px #6e6ede,
    -35px -35px 70px #908eff;
    
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 30px;
    border-color: #fff;
    font-size: 7em;
    font-weight: bolder;
    transition: 0.3s;
}

.num p{
    background: linear-gradient(
        26deg
        , #7271F1, #5958ff , #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box:hover .num{
    width: 75px;
    height: 75px;
    top: 20px;
    padding:30px;
    font-size: 20px;
    border-radius: 50%;
    
}

.box:hover .num p{
    background: linear-gradient( 
282deg
 , #7271F1, #000002 , #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
.box:hover{
    background: linear-gradient(145deg, #7271e6, #8887ff);
    box-shadow:  35px 35px 70px #6e6ede,
    -35px -35px 70px #908eff;
}
.num p {
}
.button{
    width: 150px;
    height: 40px;
    cursor: pointer;
    justify-self: center;
    display: flex;
    background: linear-gradient(315deg, #6766d9, #7a79ff);
box-shadow:  -12px -12px 48px #6362d2,
             12px 12px 48px #8180ff;
    
    justify-content: center;
    align-items: center;
}
.button:hover{
    background: #7271F1;

    box-shadow:  12px 12px 48px #6362d2,
             -12px -12px 48px #8180ff;
    transition: 0.2s ease-in-out;
}