:root{
    --primary-clr:#27283C;
    --secondary-clr: #51A6F0;

    --main-bg-clr: #0E1024;
    --menu-bg-clr:  ;
    --text-clr: #B2B3BD;
}
*{
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;}
body{
    background: var(--main-bg-clr);
    margin: 0;
}
.container{
    display: grid;
    padding: 20px;
    gap: 25px;
}
/* display : grid */
.menu-section,.added-beats{
    display: grid;
}
/* for place-items centering */
.added-icon,.added-beat{
    display: grid;
    place-items: center;
}
.btn{
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 10px;

    grid-template-rows: repeat(2,0.6fr);
}

.menu-section{
    height: 100%;
    gap: 20px;
    
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}
.btn{
    border-radius: 3px;
    background: var(--primary-clr);
}
i,p{
    color: var(--text-clr);
}
p{
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: 1.5px;
}

/* Styling added beat */
.added-beats{
    gap: 17px;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
}
.added-beat{
    border-radius: 7px;
    padding: 10px;
    background: var(--primary-clr);
}
.added-icon{
    width: 26px; height: 26px;
    background: var(--secondary-clr);
    border-radius: 50%;
    padding: 5px;
    position: relative;
    
}
.added-icon::before{
    content: "";
    position: absolute;
    background: var(--main-bg-clr);
    width: 45%;
    height: 38%;
    right: 5px;
    transform: rotate(90deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.music-play-stat{
    --width: 2%;
    border-radius: 20px;
    background: var(--primary-clr);
    width:100%;
    height: 10px;
    position: relative;
}
.music-play-stat::after{
    border-radius: 20px;
    content: "";
    position: absolute;
    width: var(--width);
    height: 100%;;
    background: var(--secondary-clr);
}
/* BAR */
.beat-play-section{
    display: grid;
    gap: 20px;
}
.bars{
    
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
}

.bar{
    width: 10vw;height: 10vw;
    max-width: 100px; max-height: 100px;
    border-radius: 3px;
    background: #31315C;
    border: 2px solid #5e4f7852;
}
.bar{
       /* box-shadow : 0px 2px 2px #31315C;  */
}
.bars .update{
   
    border: 2px var(--clr) solid;
    background: radial-gradient(circle, var(--clr) 10%,  var(--color) 100%);
}
.bars1 .update{
    --clr: #73FBD3;
    --color: #73fbd3a6; 
}
.bars2 .update{
    --clr: #44e5e7;
    --color: #44e5e7b5; 
}
.bars3 .update{
    --clr: #59D2FE;
    --color: #59d2febd;
}
.bars4 .update{
    --clr: #4a8fe7;
    --color: #2b66b1;
}
.bars5 .update{
    --clr: #5C7AFF;
    --color: #5c7aff9e;
}
.scale{
    transform: scale(1.1);
}
.clear-rotate{
    animation: clearAnimation 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes clearAnimation{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}
 @media (min-width: 800px){
    .bars{
        justify-content: start;
    }
 } 