:root{
    --body-clr: #CCF2F7;
    --transition: 0.9s; 

}

*{
    box-sizing: border-box;
    margin: 0;

}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container{
    display: grid;
    background: var(--body-clr);
    height: 100vh;
    width: 100%;
    justify-items: center;
    grid-template-rows: 1fr 3fr 1fr;

}
.title{
    display: grid;
    color: #14495ed9;
    justify-self: center;
    align-self: end;
}
.music-section{
    /* width: 70%; */
    display: grid;
    justify-self: center;
    align-self: center;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
}
.beat{
    display: grid;
    align-items: center;
    font-size: 26px;
    gap: 20px;
    font-weight: bold;
}
.beat-show{
    display: grid;
    gap: 10px;
        align-items: center;


}

.beat-sound-show{
    display: grid;
    grid-template-columns: repeat(8,auto);
    gap: 10px;
    
}
.circle{

    width: 40px; height: 40px;
    background: #44a4cad9;
    /* border-radius: 50%; */
    position: relative;

} 
.sound{
    display: grid; place-items: center;
    background: skyblue;
    padding-inline: 10px; padding-block: 10px;
}
.buttons-section{
    display: grid;
    gap: 10px;

}
.button-section{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.play,.stop{
    background: skyblue;
    padding: 10px;
}
.circle-red::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    animation: ani var(--transition) linear;  
    background: red;

}
.circle-yellow::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    animation: ani var(--transition) linear;  
    background: yellow;

}
.circle-green::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    animation: ani var(--transition) linear;  
    background: green;

}

@keyframes ani{ 
    0%{
        width: 0%;
    }
   
    100%{
        width: 100%;
        background: black;
    }
}
.update{
    background: #000;
}