@media(max-width:1000px)
{
    .price-btn p{
        width: 64%;
    }
}
@media(max-width:800px){
    /* .title{
        font-size:60px;
    } */
}
@media(max-width: 600px){
    .title{
        font-size: 28px;
    }
    .title,.title-desc{
        width: 100%;
        text-align: center;
    }
    .container{
        padding: 10px;
        padding-left: 0px;
       
    }
    .desc{
        justify-items: center;
    }
    .price-btn p {
        width: 54%;
        font-size: 15px;
        line-height: 28px;
    }
}