@media (max-width:1100px ){
    body{
        gap: 68px;
    }
    .four-section-container{

        grid-template-areas: "sv kar"
                            "cal tb";
}
    }

    @media (max-width:700px ){
        .four-section-container{
            grid-template-areas: "sv"
                                "kar"
                                "cal"
                                "tb";
                            }
             .main-text{
                font-size: 24px;


             }   
             .main-desc{
                 width: 90%;


             }   
             .main-title{
                 font-size: 24px;
             }      
        }


