@media(max-width: 920px){
    
    .article-container{
        width: 80%;
    }
}
@media(max-width: 600px){
    .article-container{
        width: 80%;
        
    }
    
    .article-text h3{
        font-size: 14px;
        line-height: 23px;
    }
}


@media(max-width: 500px){
    .article-text{
        padding-bottom: 0px;
    }
  
    .img-section{
        border-radius: 10px 10px 0px 0px;
    }
    .article-container{
        overflow: hidden;

        grid-template-columns:auto;
        width: 80%;

        grid-template-rows: 1.3fr 2fr;
    }
    .article-container{
        position: relative;
    }
    .profile-section{
        position: inherit;
    }
    .share__pop-up{  
        padding-inline: 20px;    
        width: 100%;
        height: 14%;
        right: 0;
        top: auto;
        box-sizing: border-box;
        border-radius: 0px 0px 10px 10px;
        transform-origin: bottom;
        grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
    }
    .share__pop-up::before{
        display: none;
    }
    .share__pop-up label{
        display: flex;
    }
}
@media (max-width:325px){
    .wrapper{
      
        
    }
    .article-text h4{
        font-size: 11px;}
    .article-container{
        width: auto;
    }
}

@media(max-height: 579px){
    .wrapper{
        height: 100vh;
    }
}
