:root {
  --primart-clr: #f1f3f7;
  --height: 100px;
  --sidenav: #fcfbff5e;
  --form: #fff;
  --main-section: #fafafa;
  --address-text: #636780;
  --offset: 314;
  --percent: 20;
  --green: #008744;
  --blue: #0057e7;
  --red: red;
  --yellow: yellow;
  --white: #eee;
  --progress-clr: green;
}
* {
  box-sizing: border-box;
  font-family: "Poppins" !important;
}
body {
  background: var(--primart-clr);
  margin: 0;
}
.App {
  display: flex;
}
.main-section {
  flex: 1;
  background: #fafafa;
}
/* sidenav */
.sidenav {
  width: 130px;
  display: flex;
  padding-left: px;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  background: var(--sidenav);
  height: 100vh;
  border-right: 1px solid #111;
}

.sidenav svg {
  width: 20px;
}
.menu-item {
  display: flex;
  gap: 10px;
  cursor: pointer;
  border-left: 5px solid var(--sidenav);
  flex-direction: column;
  align-items: center;
}
.menu-item p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}
.menu-item-active {
  border-left: 5px solid #111;
}
.menu-item-active p {
  font-weight: 500;
}
.input-container {
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: #111;
  text-decoration: none;
}
form {
  position: relative;
  display: flex;
  padding: 10px;
  padding-left: 16px;
  background-color: var(--form);
  width: 95%;
  gap: 13px;
  height: 70%;
  box-shadow: 0px 9px 7px 2px rgba(0, 0, 0, 0.023);
  border-radius: 17px;
}
button {
  background: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding-inline: 20px;
}
.search-icon {
  width: 24px;
  fill: #4e484873;
}
.none {
  display: none;
}
.input-container input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 24px;
  background: none;
}

.results {
  height: calc(100vh - var(--height));
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 319px));
  gap: 20px;
  justify-content: center;
}
.company-results {
  padding-inline: 40px;
  height: calc(100vh - var(--height));
  overflow: scroll;
  display: grid;
  gap: 20px;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  /* justify-content: center; */
}
.company-card {
  max-width: 479px;
  box-shadow: 0px 9px 7px 2px rgba(0, 0, 0, 0.023);
  border-radius: 17px;
}
.company-card h3 {
  margin-top: 0;
}
.mpan-box {
  padding: 20px;
}
.mpan-container {
  background: #f5f5f5d4;
  margin-inline: auto;
  width: fit-content;
  border-radius: 10px;
}
.card {
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12);
  border-radius: 1px;
  max-width: 400px;
}
.copy-icon {
  cursor: pointer;
  display: flex;
  justify-content: end;
}
.mpan-header,
.mpan-footer {
  display: flex;
  font-weight: bold;
  color: #180000d6;
}
.mpan-header > p,
.mpan-footer > p {
  margin: 0;
}
.mpan-header > div,
.mpan-footer > div {
  padding-inline: 12px;
  display: flex;
  /* justify-content: center; */
  border: 0.5px solid #d8d2d2;
  border-top: 0;
  border-right: 0;
}
.mpan-header > div:first-of-type,
.mpan-footer > div:first-of-type {
  border-left: none;
}
.mpan-footer > div {
  border-bottom: none;
}
.mpan-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.address-container {
  padding: 20px;
  padding-block: 10px;
  display: grid;
  gap: 10px;
  border-top: 0.5px solid #d8d2d2;
  padding-inline: 10px;
}
.address-container p {
  margin: 0px;
}
.address-text {
  display: flex;
  gap: 10px;
  align-items: center;
}
.address-text svg {
  opacity: 0.6;
}
.main-address-text {
  text-transform: lowercase;
}

.result-mesg {
  min-height: calc(100vh - var(--height));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #0000006e;
  font-weight: 600;
}
.copy-animate {
  animation: copy 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes copy {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* dropdown */
.dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 25px;
  cursor: pointer;
  font-weight: 700;
  text-transform: capitalizex;
  border-right: 1px solid #ddd;
}
.dropdown-box {
  position: absolute;
  bottom: -100px;
  background: #fff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}
.dot {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.7);
}
.dropdowntext {
  padding: 2px;
  padding-inline: 10px;
  display: flex;
  cursor: pointer;
  gap: 8px;
  text-transform: capitalize;
  align-items: center;
}
.dropdown p {
  text-transform: capitalize;
}
.dropdowntext:hover {
  background: #8a7c7c12;
}

.company-card {
  background-color: #fff;
  padding: 20px;
}
.card-address-text-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
}
.card-address-text {
  margin: 0;
  color: var(--address-text);
}
/* details */

.details-container {
  flex: 1;
  background: var(--main-section);
}
.detail-main-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  padding-inline: 30px;
}
.detail-main-section p {
  margin: 7px;
}
.detail-header-section {
  border-bottom: 1px solid #111;
  display: flex;
  padding: 10px;
  align-items: center;
}
.back-button {
  display: flex;
  gap: 10px;
}
.detail-title {
  flex: 1;
  font-weight: bold;
  font-size: 20px;
}

.detail-title {
  display: flex;
  justify-content: center;
}
.detail-main-item-title {
  display: flex;
  gap: 10px;
  font-weight: 600;
}
/* circlar progress */
.box {
  position: relative;
}
.percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}
.box .percent svg circle {
  fill: none;
  stroke-width: 10;
  stroke: #000;
  stroke-dasharray: var(--offset);
  stroke-dashoffset: var(--offset);
  transform: translate(5px, 5px);
}
.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #ddd;
}

.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}
.box .percent .number h2 {
  font-size: 19px;
}

.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(
    var(--offset) - (var(--offset) * var(--percent)) / 100
  );
  stroke-linecap: round;
  opacity: 10;
  animation: animate-circle 2s ease;
}
.credit-score-text {
  padding: 13px;
  padding-block: 7px;
  background-color: #0acf83;
  color: #fff;
  font-weight: 600;
  width: fit-content;
  height: fit-content;

  border-radius: 25px;
}
.credit-container {
  display: flex;
  align-items: center;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: var(--red);
  }
  40% {
    stroke: var(--blue);
  }
  66% {
    stroke: var(--green);
  }
  80%,
  90% {
    stroke: var(--yellow);
  }
}

@keyframes animate-circle {
  0% {
    stroke-dashoffset: var(--offset);
  }

  100% {
    opacity: 10;
  }
}
