
:root{
    --body-color: #4E4984 ;
    --input-bg-clr: #2AC6E7 ;
    --input-text-clr: ;
    --num-bg-clr: ;
    --num-text-clr: ;
}
*{
    box-sizing: border-box;
    font-family: 'Arial';

}
body{
    margin: 0;

    background: #4E4984;

    font-family: 'Arial';
}

/* styling  "container"*/
.container{
    width: 100%; height: 100vh;
    background: #4E4984;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
/* styling "input" */
.input-section{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
input{
    border: none;
    background:var(--input-bg-clr);
    outline: none;
    width: 135px; height: 56px;
    color: #fff;
    font-size: 30px;
    box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
    text-align: center;
    /* padding: 30px; */
    /* -moz-appearance: textfield; */
    
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.between{
    font-size: 50px;
    color: var(--input-bg-clr);
} 
.submit{
    display: grid;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    place-items: center;
    width: 135px; height: 56px;
    color: #fff;
    background:var(--input-bg-clr);
}
/* ===== num-result-section */
.num-result-section{
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

}
.number{
    display: grid;
    place-items: center;
    transition: 0.2s;
}
h1{
    background: var(--input-bg-clr);
    width: 150px;
    height: 150px;
    color: #fff;  
    display: grid;
    place-items: center;  
    border-radius: 50%;
 
    transform-origin: center;

    animation: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes scale{
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: scale(1);
    }
}
.none{
    display: none;
}