[class^="f-"] {
  display: flex;
}
[class^="g-"] {
  display: grid;
}
#root {
  height: 100%;
}
.App {
  position: relative;
  padding-top: 6rem;
  height: 100%;
}
.container {
  --container-width: 600px;
  padding-inline: 1em;
  width: min(80%, var(--container-width));
  text-align: center;
  place-items: center;
}
.bg-container {
  position: absolute;
  inset: 0;
  z-index: -1;
}
/* absolute bg-image of app */
.bg {
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
}
/* Header */
header {
  color: #fff;
  margin-bottom: 1em;
}
/* app-tile */
.title {
  font-size: var(--fs-1000);
}
/* theme-switch */
.theme-switch {
}
/* a common item b/w input and task */
.common-item {
  display: grid;
  align-items: center;
  background: var(--foreground);
  gap: var(--gap, 1rem);
}

/* add-task-input */
.add-task__form {
  box-shadow: var(--box-shadow);
  border-radius: var(--br);
  grid-template-columns: auto 1fr;
  margin-top: 2em;
}
.add-task__form--input {
  height: 100%;
  border-radius: 5px;
  font-size: var(--fs-600);
  color: #000;
}
.add-task__form--input::placeholder {
  color: var(--placeholder-clr);
}

/* button submit */
.submit-btn {
  width: var(--check-size);
  height: var(--check-size);
  border: 1px solid var(--light-clr);
  border-radius: 50%;
}

/* tasks */
footer,
.common-item {
  --border: 2px solid var(--light-clr);
  padding: 1.3em 1.3em;
}
.task-container {
  box-shadow: var(--box-shadow);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--br);
}
.tasks {
  /* height: calc(100vh - 6rem); */
  padding: 0;
}
.task {
  /* border-top: var(--border); */
  border-bottom: var(--border);
  grid-template-columns: auto 1fr auto;
}
.task:last-child {
  border-bottom: 0;
}
.task-content {
  font-size: var(--fs-600);
  color: var(--text-content);
  justify-self: left;
}
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* input */
.check-icon {
  -webkit-appearance: none;
  appearance: none;
  color: var(--light-clr);
  width: var(--check-size);
  overflow: hidden;
  height: var(--check-size);
  border: 0.15em solid currentColor;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
}
.check-icon::before,
.check-icon::after {
  content: "";
  position: absolute;
}
.check-icon::after {
  width: 30px;
  height: 30px;
  transform: translate(-20%, -20%) scale(0);
  color: #fff;
  background-image: url("./../../public/images/icon-check.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  /*   box-shadow: inset 1em 1em var(--form-control-color); */
}
.check-icon:before {
  opacity: 0;
  inset: 0;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}
.check-icon:hover:not(:checked) {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
  mask: linear-gradient(white, white) padding-box, linear-gradient(white, white);
  mask-composite: exclude;
  border-radius: 50%;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
}
.check-icon:checked {
  border: none;

  color: #fff;
  opacity: 1;
}
.check-icon:checked::after {
  transition: 120ms transform ease;

  transform: translate(-20%, -17%) scale(1);
}
.check-icon:checked::before {
  transition: 120ms opacity ease;

  opacity: 1;
}
.task-content {
  position: relative;
}
.check-icon:checked ~ label .task-content{
  color: var(--todo-complete)
}
/* checking logic */
.check-icon:checked ~ label .task-content::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 3px;
  top: calc(50% - 3px);
  translate: transform(-50%, -50%);
  background-color: var(--todo-complete);
}

/* checking logic */
/*  footer */
footer {
  border-top: var(--border);
  background: var(--foreground);
  color: var(--placeholder-clr);
}
.clear-btn {
  color: var(--task-content);
}

/* - tabs - */

.tabs {
  font-weight: bold;
}
.tab.active {
  color: var(--tab-active-clr);
}
