/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: max(5rem, 8vw + 1rem, 9.375rem);

  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.25rem;

  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair";
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
    --fs-500: 1.4rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
    --fs-500: 1.75rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
a {
  color: none;
  text-decoration: none;
}
/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}
.app {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}
.grid-container {
  padding-inline: 1em;
  display: grid;
  text-align: center;
  place-items: center;
}

.paragraph {
  max-width: 55ch;
  line-height: 24px;
  /* font-size: 15px; */
  color: hsl(var(--clr-light));
}

@media (min-width: 45rem) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        2rem,
        1fr
      );
  }
  .grid-container--home > *:first-child {
    grid-column: 2;
  }

  .grid-container--home > *:last-child {
    grid-column: 3;
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}
.grid-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-gap: var(--gap, 1rem);
  padding-inline: 2em;
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.large-button {
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  font-size: 2rem;
  background: #fff;
  aspect-ratio: 1;
  color: hsl(var(--clr-dark));
  border-radius: 50%;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 1.5rem clamp(1.5em, 5vw, 3.5em);
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateX(0);
  background: hsl(var(--clr-dark) / 0.85);
  backdrop-filter: blur(40px);
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 5vw, 7rem);
  }
}
@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation li > span {
    display: none;
  }
}
@media (min-width: 45em) {
  .primary-navigation {
    margin-block: 2rem;
  }
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    order: 1;
    background: hsl(var(--clr-white) / 0.25);
    margin-right: -3rem;
  }
  .logo {
    flex-basis: 1;
    /* max-width: unset; */
  }
  nav {
    order: 2;
  }
}
@supports (backdrop-filter: blur(20px)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.03);
    backdrop-filter: blur(40px);
  }
}
.primary-navigation a {
  text-decoration: none;
}

.primary-navigation li > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
}
.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: 0.6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: min(20rem, 10vh) 2rem;
    position: fixed;
    inset: 0;
    left: 33%;
    z-index: 999;
  }
  .primary-navigation.underline-indicators > .active {
    border: 0;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 1000;
    right: 1rem;
    top: 2rem;
    border: 0;
    background: none;
  }
  .primary-header.menu-show .primary-navigation {
    transform: translateX(100%);
  }
  .mobile-nav-toggle:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 5px;
  }
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}
.primary-navigation li {
}

.tab-list {
  position: relative;
  --gap: 2rem;
}
.tab-item {
  outline: none;
  background-color: transparent;
  position: relative;
}
.underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: hsl(var(--clr-white) / 0.6);
}
.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: hsl(var(--clr-white) / 0.25);
}
.dot-active {
  background-color: hsl(var(--clr-white) / 1);
}
/* .dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
} */

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}
.nav-active {
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0.6);
}

/* navigation style */
/* page-specifiv */
/* for ---home page */
.home {
  background-image: url("/public/assets/home/background-home-mobile.jpg");
}
@media (max-width: 200px) {
  .primary-navigation {
    left: unset !important;
    padding: 1rem;
  }
}
@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url("/public/assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 45rem) {
  .home {
    background-image: url("/public/assets/home/background-home-desktop.jpg");
  }
}
.destination {
  background-image: url("/public/assets/destination/background-destination-mobile.jpg");
}

@media (min-width: 35rem) {
  .destination {
    background-position: center center;
    background-image: url("/public/assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 45rem) {
  .destination {
    background-image: url("/public/assets/destination/background-destination-desktop.jpg");
  }
}

/* for crew page */
.crew {
  background-image: url("/public/assets/crew/background-crew-mobile.jpg");
}
@media (min-width: 35rem) {
  .crew {
    background-position: center center;
    background-image: url("/public/assets/crew/background-crew-tablet.jpg");
  }
}
@media (min-width: 45rem) {
  .crew {
    background-image: url("/public/assets/crew/background-crew-desktop.jpg");
  }
}

/* for technology page */
.technology {
  background-image: url("/public/assets/technology/background-technology-mobile.jpg");
}
@media (min-width: 35rem) {
  .technology {
    background-position: center center;
    background-image: url("/public/assets/technology/background-technology-tablet.jpg");
  }
}
@media (min-width: 45rem) {
  .technology {
    background-image: url("/public/assets/technology/background-technology-desktop.jpg");
  }
}
/* destination */
.grid-container--destination {
  row-gap: 1rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "article";
}
.grid-container--destination img {
  grid-area: image;
  max-width: 60%;
}
.grid-container--destination > .destination-options {
  grid-area: tabs;
}

.numbered-title {
  grid-area: title;
}
.destination-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 25px;
}

.planet-stats {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  border-top: 1px solid #383b4b;
  padding: 1rem 0;
}
.planet-stats p {
  font-size: 1.9rem;
  font-weight: 700;
}
.planet-stats-item {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
/* crew page */
.grid-container--crew {
  row-gap: max(1rem, 3vh);
  grid-template-areas:
    "title"
    "image"
    "dots"
    "article";
}
.grid-container--crew img {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
  position: relative;
}

.crew-role {
  color: hsl(var(--clr-white) / 0.5);
}
.grid-container--crew .dot-indicators {
  grid-area: dots;
}
.crew-details {
  flex-direction: column;
  gap: 0.5rem;
}
.crew-details .paragraph {
  margin-top: 0.8rem;
}
.grid-container--crew article {
  grid-area: article;
}

/* technology */
.grid-container--tech {
  grid-template-areas:
    "title"
    "image"
    "content";
}
.tech-numbers {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}
.grid-container--tech .numbered-title {
  grid-area: title;
}
.tech-number {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(var(--clr-white) / 0.85);
  border-radius: 50%;
}
.tech-number.active {
  background-color: hsl(var(--clr-white) / 1);
  color: hsl(var(--clr-dark) / 1);
}
.tech-content {
  grid-area: content;
  display: grid;
  gap: 1rem;
  justify-items: center;
}
.grid-container--tech .tech-info {
  display: grid;
  gap: 0.8rem;
}
.grid-container--tech img {
  grid-area: image;
}
.flow > * + * {
  margin-block-start: var(--space, 1em);
}
.landscape-img {
  display: block;
}
.portrait-img {
  display: none;
}
@media (min-width: 35rem) {
  .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }
  .planet-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .grid-container--crew {
    grid-template-areas:
      "title"
      "article"
      "dots"
      "image";
  }
}
@media (min-width: 45rem) {
  .grid-container--destination {
    margin-inline: auto;
    width: 90%;
    row-gap: 3rem;
    align-content: center;
    justify-items: center;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image tabs .";
  }
  .grid-container--destination img {
    grid-area: image;
    justify-self: start;

    max-width: 90%;
  }
  .planet-stats {
    justify-content: start;
    gap: 6rem;
  }
  .grid-container--crew img {
    grid-column: span 2;
    align-self: end;
    max-width: unset;
    width: max(300px, 50vh);
  }
  .grid-container--crew {
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(
        1rem,
        1fr
      );
    justify-items: start;
    grid-template-areas:
      ". title title ."
      ". article image ."
      ". dots image .";
  }
  .grid-container--tech {
    padding-bottom: 3rem;
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". content image .";
  }
  .grid-container--tech img {
    grid-column: span 2;
    width: 80%;
    height: 90%;
    margin-top: -50px;
    /* max-height: 300px; */
  }
  .paragraph {
    line-height: 32px;
  }
  .tech-content {
    display: flex;
    gap: 3rem;
  }
  .tech-numbers {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: relative;
  }
  .active-tab {
    position: absolute;
    width: 100%;
    background: #fff;
    aspect-ratio: 1;
    top: 0;
    border-radius: 50%;
  }
  .tech-number {
    transition: all 0.3s ease-in-out;
    width: 80px;
    height: 80px;
  }
  .landscape-img {
    display: none;
  }
  .portrait-img {
    display: block;
  }
}
