*{
    box-sizing: border-box;
}
body{
    margin: 0;


    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 70%;
    max-width: 1100px;
    height: 549px;
    background: #fff;
    border-radius: 15px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.img  {
    overflow: hidden;

    position: relative;
    overflow: hidden;
}

svg{
    top: 5em;
     position: absolute;
    left: -70px;
    }
    .bg{
        top: -18em;
        left: -34em;
    }
    .details{
        overflow: scroll;
    }
 .details-wrapper{
     
     width: 80%;
     height: 80%;
     
     display: grid;
     margin-top: 20px;
     
     
    }
    .fa{
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }   
    
    .detail{
    
     border-bottom: 1px solid #E8E8EA;
     display: grid;
     gap: 0.5em;
     grid-template-columns: 1fr auto;
 }
 .detail p{
    font-style: normal;
    font-weight: normal;
    font-size: 0px;
    color: #787887;
 }
 .fa-chevron-up{
     color: #F47B56;
 }
.detail:last-child{
    border-bottom: none;
}  
h3{
    color: #4B4C5F;
    font-weight: normal;
    font-size: 16px;
}
p{
     transition: all 0.2s ease;
}
h1{
    font-weight: 700;
}

h3{
    flex-basis: 95%;
    gap: 20px;
    cursor: pointer;
    
   
}
i{
    position: relative;
    right: 15%;
    pointer-events: none;
    align-self: center;
    
}
h3:hover{
    color: #F47B56;
}

.para-active{
}
:checked ~ .para{
    display: block;
    font-size: 14px;


}
:checked ~ .fa{
    transform: rotate(180deg);

}
:checked ~ h3{
    color: red;
}
#toggle:checked ~ .detail .fa{
    color: green;
}

input{
    position: absolute;
    display: none;
}

#text:checked ~ h3{
    color: red;
}
.women-svg{
    z-index: 2;
}
.cube{
    position: absolute;
    width: 200px;
    height: 100px;
    
    left: 0em;
    top: calc(32% - 12px);
    z-index: 999;
}
.mobile-img{
    position: absolute;
    background: url("./images/illustration-woman-online-mobile.svg") no-repeat;
    width: 100%;
    height: 100%;
    display: none;
    top:  calc(10vh - 90px);
    margin: 0 auto;
}
