:root {
  --primary-color: #abda71;
  --secondary-clr: #37570ff7;
  --alternate-clr: #19aa2b;
  --first: #f9d9da;
  --first-before: #ffb0b1;
  --first-text: #f1411af0;
  --second: #dbf4bc;
  --second-before: rgba(143, 193, 78, 0.46);
  --second-text: #19aa2b;
  --third: #ffedcd;
  --third-before: rgba(249, 201, 115, 0.57);
  --third-text: #ffa911;
  --fourth: #dff7f7;
  --fourth-before: #2bc7c73d;
  --fourth-text: #1693a3;
  --fifth: #f3f4fc;
  --fifth-before: #5560da2e;
  --fifth-text: #97a6fff0;
  --carousel-height: 532px;
  --desc-img: #abda71;
  --dark-green: #19aa2b;
}

* {
  box-sizing: border-box;
  font-family: "Poppins" !important;
}
.title-container .title {
  font-size: 500;
}

body {
  overflow-x: hidden;
  margin: 0;
}
/* #root{
position: relative;
}
#root::before{
  position: absolute;
  content: "";
  width: 100vw;
  height: 100%;
  z-index: 20;
  inset: 0;
  background: #000000B0;
} */
.container {
  /* width: 100vw; */
  overflow: hidden;
}
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  position: relative;
  padding: 30px;
  display: flex;
  font-weight: 700;
  color: #333;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid #ddd;
  height: 80px;
}
.home {
  margin-left: auto;
}
.user-menu {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: auto;
}
.profile img {
  width: 35px;
  height: 35px;
}
.cart-icon {
  width: 35px;
  height: 35px;
  background: var(--primary-color);
  padding: 5px;
  border-radius: 50%;
}
.cart img {
  transform: scale(0.8);
}
.product-heading-info {
  display: grid;
  grid-template-columns: 1fr auto;
}
.search {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.login-btn {
  width: 6em;
  font-size: 18px;
  /* height: 60px; */
  background: #083c0f;
  padding: 11px;
  color: #fff;
  border-radius: 50px;
}
.health-text {
  color: #101010c7;
}

/* styling carousel */
.carousel {
  position: relative;
  display: grid;
  height: var(--carousel-height);
  padding: 20px;
  padding-bottom: 30px;
}
.carousel-item {
  width: 100%;
  height: 100%;
  padding-block: 25px;
  padding-inline: 20px;
  height: 100%;
  transition: all 0.4s;
  /* padding: 25px; */
  position: absolute;
  top: 0px;
  left: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;

  gap: 20px;
  align-items: center;
}

.carousel-item h1,
.carousel-item p {
  margin: 0;
}
.product-info {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 40px;
}
.product-desc {
  font-size: 19px;
  line-height: 1.5;
  opacity: 0.8;
}
.carousel-btn {
  width: 100vw;
  height: var(--carousel-height);
  background: none;
  z-index: 1;
  left: 0;
  justify-content: space-between;
}
.prev-btn,
.next-btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  z-index: 2;
  background: white;
  border-radius: 50%;
}
.activeSlide {
  transform: translate(-50%);
}
.nextSlide {
  opacity: 0.3;
  transform: translate(55%) scale(0.9);
}
.lastSlide {
  opacity: 0.3;
  transform: scale(0.8);
  transform: translate(-155%) scale(0.9);
}
.carousel-item .product-title {
  margin-top: 0;
  font-weight: 600;
  line-height: 55px;
  font-size: 2.7em;
}

.button-container {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
}
.carousel .cart-btn,
.carousel .shop-btn {
  padding-inline: 33px;
}
.cart-btn,
.shop-btn {
  font-size: 17px;
  width: fit-content;
  gap: 10px;
  font-weight: 600;
  padding-block: 15px;
  padding-inline: 25px;
  border-radius: 40px;
}
.cart-btn {
  background: #fff;
  color: var(--secondary-clr);
}
.shop-btn {
  /* background: var(--secondary-clr); */
  background: linear-gradient(
    280.79deg,
    #4a2f2f 2.79%,
    var(--secondary-clr) 98.42%
  );
  color: #fff;
}
.shop-btn img,
.cart-btn img {
  margin-top: -3px;
  transform: scale(0.8);
}
/* linear-gradient( 
242deg, #4a2f2f00 -37.21%, #501a1a2b 98.42%); */
.product-container {
  padding-bottom: 30px;
}
/* product info */
.product-container .shop-btn {
  margin-top: 20px;
}
.product-tags-container {
  border: 1px solid #ddd;
}
.product-tags {
  margin-inline: auto;
  width: fit-content;
  padding-inline: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  cursor: pointer;

  text-transform: capitalize;
  font-size: 18px;
}
.product-tags p {
  color: rgba(10, 2, 2, 0.73);
}
.product-container .active-tag {
  color: #111 !important;
  font-weight: 600;
  position: relative;
}

.see-all {
  margin: 0;
  width: fit-content;
  margin-left: auto;
  opacity: 0.4;

  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}
/* styling product  main*/
.product-container {
  display: flex;

  flex-direction: column;
}
.products {
  width: 100vw;
  position: relative;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 269px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* max-width: 300px; */
}
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-img {
  width: 100px;
  margin-inline: auto;
  height: 160px;
}
.slider {
  display: none !important;
  width: calc(100vw - 50px);
  position: absolute;
  /* display: flex; */
  justify-content: space-between;
  /* top: 0; */
}

.products .carousel-btn {
  width: calc(100vw - 50px);
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
}
.product-section {
  width: fit-content;
  display: grid;
  transition: all 0.3s ease;
  padding-inline: 87px;
  grid-auto-flow: column;
  gap: 40px;
  /* overflow: scroll; */
}
.slider .prev-btn,
.slider .next-btn {
  /* position: absolute; */
  border: 1px solid #ddd;
  background: #dddddd2e;
  margin-block: auto;
}
.products .prev-btn {
  /* margin-left: 80vw; */
}
.product .title {
  font-size: 16px;
  line-height: 23px;
}
.price-section {
  display: flex;
  flex-direction: column;
}
.price-section > p {
  margin: 0;
}
.products-container .product-section {
  padding: 0;
}
.rating {
  display: flex;
  gap: 5px;
}
.rating img {
  width: 18px;
  height: 35px;
  fill: red;
  stroke: red 1px solid;
}
.rating-none {
}
.price {
  font-size: 22px;
  font-weight: bold;
}
.ruppe {
  margin-right: 1px;
  font-weight: normal;
  font-size: 25px;
}
.discount {
  background: #abda71;
  color: var(--secondary-clr);
  font-size: 13px;
  border-radius: 3px;
  padding: 2px;
}
.discount-price {
  color: #b6bcc8;
  margin-top: -5px;
  font-size: 13px;
  text-decoration: line-through;
}
.product-container .shop-btn {
  font-size: 17px;
  padding-block: 0px;
  font-weight: bold;
  margin-inline: auto;
  position: relative;
  padding-inline: 20px;
}

/* health concern */
.health {
  padding-top: 40px;
  padding-inline: 5em;
  position: relative;

  display: grid;
  gap: 45px !important;
}
.product-home {
  margin-top: 20px;
  /* margin-top: 30px; */
  padding-top: 10px !important;
  display: grid;
  gap: 30px;
  /* border-top: 1px solid #ddd; */
}
.product-home .title {
  font-size: 30px;
}
.title {
  font-weight: black;
}
.health-container {
  transition: 0.2s ease;
  text-align: center;
  font-weight: 600;
  display: flex;
  gap: 40px;
}
.health .next-btn,
.health .prev-btn {
  width: 45px;
  height: 45px;
  background: #fff;
}
.health .next-btn {
  position: relative;
  left: 40px;
}
/* collection */
.collection-btn {
  margin-inline: auto;
  display: flex;
  width: fit-content;
  border-radius: 30px;
  color: #fff;
  padding: 2px;
  font-weight: bold;
  padding-inline: 25px;
  align-items: center;
  gap: 10px;
  background: linear-gradient(
    280.79deg,
    #4a2f2f 2.79%,
    var(--secondary-clr) 98.42%
  );
}
.collection-section {
  padding-top: 40px;
  padding-inline: 5em;
  /* padding-bottom: 20px; */
  margin-top: 40px;
  display: grid;
  gap: 67px;
}
.title-container .title {
  width: fit-content;
  margin-bottom: 10px;
  position: relative;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  border-bottom: 1px solid rgba(221, 221, 221, 0.473);
}
.title-container .title::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #444924;
  width: 100%;
  z-index: -1;
  bottom: -11px;
  left: 4px;
}
.collections {
  /* margin-top: 60px; */
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.collection {
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.collection-img {
  width: 100px;
  height: 120px;
}
.first {
  background: var(--first);
  color: var(--first-text);
}
.second {
  background: var(--second);
  color: var(--second-text);
}
.third {
  background: var(--third);
  color: var(--third-text);
}
.fourth {
  background: var(--fourth);
  color: var(--fourth-text);
}
.fifth {
  background: var(--fifth);
  color: var(--fifth-text);
}
.collection {
  position: relative;
}
.text-section .desc {
  font-weight: bolder;
  font-size: 13px;
}
.collection::after {
  content: "";
  position: absolute;
  width: 100%;
  border-radius: 10px;
  height: 110%;
  top: -17px;
  left: -15px;
  z-index: -1;
}
.first::after {
  background: var(--first-before);
}
.second::after {
  background: var(--second-before);
}
.third::after {
  background: var(--third-before);
}
.fourth::after {
  background: var(--fourth-before);
}
.fifth::after {
  background: var(--fifth-before);
}
.collection .title {
  color: black;
  font-size: 17px;
}
.collection-wrap {
  display: grid;
  gap: 50px;
}
.collection-shop-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #111;
  width: fit-content;
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  background: #000;
  height: 1px;
  width: 50%;
  bottom: 14px;
}
.collection-section .shop-btn {
  margin-inline: auto;
}
/* footer */
.footer {
  margin-top: 100px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 30px;
  padding: 4em;
}
.main-footer {
  display: grid;
  justify-content: center;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.contact-item {
  align-items: center;
  gap: 20px;
}
.social-icons {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.stay-section {
}
.footer form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 30px;
}
.footer input {
  background: none;
  border-bottom: 1px solid var(--secondary-clr);
}
input {
  border: none;
}
input:focus {
  outline: none;
}
.input-btn {
  width: fit-content;
  position: relative;
  font-size: 14px;

  font-weight: 600;
  opacity: 0.6;
}
.input-btn .line::before {
  right: 0;
  width: 80%;
}

/* 2nd page shop */

.main-shop {
  display: grid;
  grid-template-columns: 230px 2fr auto;
}
.filter-items,
.filter-heading,
.price-range {
  border-bottom: #ddd 1px solid;
}
.filter-heading {
  padding-block: 10px;
  display: flex;
  font-size: 12px;
  letter-spacing: 0.6px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.product-cart-btn {
  color: #111;
  border: 1px solid rgba(0, 0, 0, 0.089);
  max-height: 42px;
  padding-block: 0;
  padding-inline: 20px;
}
.filter-items-text {
  font-weight: 300;
  text-transform: capitalize;
}
.filter-reset {
  color: var(--second-text);
}
.filter-sidenav {
  overflow: scroll;
  padding: 8px;
  color: rgba(68, 68, 68);
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid rgba(0, 0, 0, 0.089);

  padding-inline: 30px;
  border-top: none;
}

.filter-sidenav p,
h4 {
  margin: 0;
  /* border: 1px solid rgba(0, 0, 0, 0.2) */
}
.filter-sidenav h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.main-shop-section {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 80px);
  overflow: scroll;
  overflow-x: hidden;
}

.price-range {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  gap: 20px;
}
.price-range label {
  color: #00000047;
  font-size: 12px;
}
.filter-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
}
.price-range-input {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.input-line {
  height: 1px;
  background: #0000004f;
}
.circ-line {
  width: 2px;

  height: 40%;
  background: #0000004f;
}
.minmax-container {
  display: flex;
  justify-content: space-between;
}
.min-input,
.max-input {
  border: 1px solid #32252536;
  padding: 6px;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.min-input input,
.max-input input {
  width: 62px;
  font-size: 15px;
  font-weight: bold;
  color: #000000b5;
}
.min-circ,
.max-circ {
  border-radius: 50%;
  background: #fff;
  width: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  align-items: center;
  height: 23px;
  border: 1px solid #333;
}
.filter-category-section {
  display: none;
  gap: 30px;
}
.shop-product-show {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 20px;
  justify-content: center;
}
.shop-product-show-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.price-input-section {
  display: flex;
  font-size: 17px;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
.price-input-section .input {
  /* width: 50px; */

  padding: 3px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ddd;
  color: var(--alternate-clr);
}
.minmax {
  border-radius: 3px;
  padding: 3px;
  background: #f7f7f7;
  color: #00000045;
}
.search-result-text {
  font-size: 15px;
  opacity: 0.7;
  padding-inline: 10px;
}
.filter-items > p {
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
}
.filter-items .active-tag {
  font-weight: bold;
  width: fit-content;
  color: var(--alternate-clr);
}
.shop-input-search {
  display: flex;
  flex: 1;
  /* border-bottom: 1px solid rgba(221, 221, 221, 0.507); */
  justify-content: center;
}
.shop-input-search-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  padding: 15px;
  max-width: 600px;
  align-items: center;
  height: 97%;
  border-radius: 100px;
  font-size: 18px;
  background: #ebf2f7;
}
.shop-input-search-wrapper input {
  border: none;
  background: none;
}
.login-container {
  gap: 40px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}
.img-section {
  padding: 30px;
  align-self: center;
}

.login-section {
  display: grid;
  justify-items: center;

  height: 100vh;
  padding: 30px;
}
.already {
  font-size: 20px;
  width: fit-content;
  margin-left: auto;
}
.already span {
  color: var(--alternate-clr);
  font-weight: bold;
}

.login {
  width: 60%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.login .title {
}
.social-btns {
  display: flex;
  gap: 20px;
}
.google-btn,
.twitter-btn {
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 13px;
}
.login form {
  display: grid;
  gap: 15px;
}
.login form div {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.login form input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 50px;
}
.login form label {
  font-weight: bold;
}
.sign-in-btn {
  justify-content: center;
  justify-self: center;
  width: 80%;
  display: grid;
  flex-direction: row !important;
  place-items: center;
  background: var(--alternate-clr);
  color: #fff;
  padding: 14px;
  font-weight: bold;
  border-radius: 30px;
}
.or-text {
  position: relative;
  display: flex;
  align-items: center;
}
.or-text::before,
.or-text::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background: rgba(17, 17, 17, 0.685);
}
.or-text::after {
  left: 110%;
}
a {
  text-decoration: none;
  color: currentColor;
}
.or-text::before {
  left: -110%;
}

/* buy -section */
.main-buy-product-info-container {
  margin-inline: auto;
  width: 80%;
  margin-top: 3em;
  display: flex;
  gap: 5em;
  /* align-items: center; */
}
.buy-img-section {
  width: 427px;
  height: 450px;
  overflow: hidden;
  position: relative;
  background: var(--desc-img);
  border-radius: 20px;
}
.mini-detail-title {
  font-size: 14px;
  width: 100%;
}
.read-text {
  color: var(--alternate-clr);
  font-weight: 700;
}

.buy-img-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* place-items: center; */
}

.img-active {
  width: 90px;
  opacity: 0.6;
  border: 2px solid var(--secondary-clr);
}
.img-view {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: 0.2s transform;
  position: absolute;
}
.buy-img-section img {
  width: 90%;
  object-fit: contain;
  height: 90%;
  border-radius: 6px;
  margin-inline: auto;
  margin-block: auto;
}
.buy-img-option {
  max-width: 385px;
  overflow: scroll;
  display: flex;
  margin-inline: auto;
  gap: 20px;
  height: 80px;
  display: flex;
}
.buy-img-option img {
  width: 80px;

  background: var(--desc-img);

  border-radius: 10px;
  cursor: pointer;
}
.buy-product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
.buy-product-info p,
.buy-product-info h1 {
  margin: 0;
}
.company-name {
  color: var(--alternate-clr);
  text-transform: uppercase;
  font-size: 11px;
}
.buy-price-section {
  width: fit-content;

  display: grid;
  align-items: center;
  grid-template-columns: auto auto;

  gap: 15px;
}
.buy-desc {
  line-height: 26px;

  color: #69707d;
}
.buy-price {
  font-size: 28px;
  font-weight: bold;
}
.buy-discount {
  background: var(--primary-color);
  color: var(--secondary-clr);
  border-radius: 2px;
  padding: 3px;
  font-size: 13px;
}
.buy-discount-price {
  text-decoration: line-through;
  font-weight: bold;
  color: #b6bcc8;
}
.buy-order-section {
  display: flex;
  grid-gap: 2em;
  gap: 2em;
}
.buy-order-num > * {
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  padding-inline: 20px;
  display: grid;
  place-items: center;
}
.buy-order-num {
  display: flex;
  border-radius: 10px;
  background: #f6f8fd;
}
.buy-order-section .cart-btn {
  border-radius: 10px;
  font-weight: bold;
  background: var(--alternate-clr);
  color: #fff;
  padding: 0.7em;
  gap: 1em;
  padding-inline: 6em;
}
.cart-btn img {
  filter: brightness(70%);
}

/* slide */
.buy-activeSlide {
  opacity: 1;
  transform: translate(0px);
}
.buy-lastSlide {
  pointer-events: none;

  opacity: 0;
  transform: translate(-100%);
}
.buy-nextSlide {
  pointer-events: none;
  opacity: 0;
  transform: translate(100%);
}

.buy-tags {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  margin-top: 40px;
  padding-inline: 20px;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
.buy-tag {
  cursor: pointer;
}
.buy-tag p {
  padding: 13px;
}
.buy-tag-active {
  font-weight: bold;
  border-radius: 10px;
  background: #dde3ed;
}

.buy-description-section {
  padding-inline: 30px;
  padding-block: 15px;
  padding-block-end: 25px;

  border-bottom: 1px solid #ddd;
  width: 96%;
  display: flex;
  color: #69707d;
  flex-direction: column;
  line-height: 28px;
}
.buy-head {
  color: #333;
}
.key-head {
  /* font-size: 24px; */
  color: #333;
  font-weight: 700;
}
.related-products {
  margin-top: 30px;
}
.product .title {
  font-size: 17px !important;
}
.related-products .products-container {
  padding-inline: 2em !important;
}

/* cart-page */
.cart-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f8f8fb;
}
.cart-page-form-container {
  flex: 0.8;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
  gap: 40px; */
}
.cart-user-name {
  font-weight: bold;
}
.cart-user-info-container {
  padding-inline: 20px;

  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  box-shadow: 0px 10px 10px -10px #ffffff;
  border-radius: 18px;
}

.cart-change-btn {
  margin-left: auto;
  color: #00000066;
  font-weight: bold;
}

.cart-page-container form {
  padding: 40px;

  margin-top: 30px;
  display: grid;
  gap: 30px;
  background: #fff;
  box-shadow: 0px 10px 10px -10px #ffffff;
  border-radius: 18px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cart-page-container form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-page-container form input {
  background: #f9fafe;
  border-radius: 11px;
  padding: 13px;
}
.cart-page-container form input::placeholder {
  font-weight: 600;
  font-size: 14px;
  opacity: 0.7;
}
.cart-page-container form label {
  font-weight: bold;
}
.address-type {
  grid-area: 5 / span 2;
  display: flex;
  flex-direction: row !important;
}
.address-type > div {
  display: flex;
  font-size: 14px;
  color: #1b263d6c;
  align-items: center;
  gap: 10px;
}
.address-type input {
  width: 10px;
  height: 10px;
  accent-color: var(--alternate-clr);
}
.delievery-btn {
  grid-area: 6;
  background: var(--alternate-clr);
  width: fit-content;
  padding-inline: 50px;
  font-weight: bold;
  border-radius: 50px;
  color: #fff;
}
.your-order-container {
  margin-top: 20px;

  box-shadow: 0px 10px 10px -10px #ffffff;
  border-radius: 18px;
  background: #fff;
  height: fit-content;
}
.your-order-container h2 {
  padding: 20px;
}
.cart-page {
  display: flex;
  gap: 30px;
  border-top: 1px solid #ddd;
}
.yo-product-img {
  width: 70px;
  height: auto;
}
.your-order-product-info {
  padding: 20px;
  display: grid;
  gap: 15px;
  align-items: center;
  grid-template-columns: auto 1fr;
  border-bottom: 1px solid #ddd;
}
.buy-order-num {
  width: fit-content;
}
.buy-order-num > * {
  font-size: 13px;
  padding-block: 0px !important;
  padding-inline: 12px;
}
.your-order-price-container {
  padding-inline: 30px;
}
.dcharges,
.yo-discount,
.yo-total {
  justify-content: space-between;
}
.yo-total {
  padding-inline: 20px;
  letter-spacing: 0.5px;
  background: #373b53;
  color: #fff;
  font-size: 25px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.loading {
  opacity: 0.4;
}
.err {
  background: #ff00004d;
  color: #661313;
  padding: 12px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid red;
}
.loading .loader {
  border: 3px solid #f9fafe;
  border-radius: 50%;
  border-bottom: 3px solid transparent;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* sub category */
.subcategory-container {
  margin-top: 13px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.subcategory {
  cursor: pointer;
  height: 30px;
  font-size: 14px;
  padding-inline: 15px;
  width: fit-content;
  color: rgba(113, 113, 113);
}
.main-sub {
  display: flex;
  align-items: center;
  gap: 15px;
}
.subcategory:hover {
  color: #111;
  background-color: #ddc9c926;
  border-radius: 10px;
}
.subcategory.active-tag {
  color: #111 !important;
  border-bottom: 2px solid #111;
}
.subcategory.active-tag:hover {
  color: #111;
  background-color: #fff;
  border-radius: inherit;
}
.shop-sort-btn {
  display: flex;
  padding: 5px;
  padding-inline: 20px;
  align-items: center;
  gap: 3px;
  position: relative;
  border-radius: 20px;
  background-color: #99999914;
}
.shop-sort-btn::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  left: 115%;
  background: #dbcacac7;
}
.sort-svg {
  transform: rotate(90deg);
}
.mini-buy-page {
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 40;
  left: 50%;
  top: 50px;
  border-radius: 20px;
  transform: translateX(-50%);
}

.mini-buy-page-header {
  display: flex;
  padding-inline: 50px;
  padding-block: 10px;

  align-items: center;
  justify-content: space-between;
}
.mini-buy-page-header-text {
  display: flex;
  gap: 10px;
}
.mini-buy-page-close-btn {
  background: #f3f1f1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.shop-container-page{
  position: relative;
}
.shop-container-overlap::after{
  
  content: '';
  top: 0;
  position: absolute;
  background: #11111194;
  width: 100vw;
  height: 100vh;
}
.pointer-none{
  pointer-events: none;
}