*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
h1,p{
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #0A0C1C;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #0A0C1C;
}
.stats{
    width: 80vw;
    height: 446px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    
   
}
.stat{
    display: flex;

    justify-content: center;
    align-items: center;
    background: #1B1937;
    color: #fff;
    border-radius: 8px 0px 0px 8px;

}
.stat-img{
    position: relative;
    background: url("./Bitmap.svg") no-repeat;
    background-size: cover;
    border-radius: 0px 8px 8px 0px;
    background-position: right;



}
.stat-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    opacity: 0.3;

    background: #AB5CDB;


}
/* ========styling stats */
/* 
*/
.stat-desc .title{
    font-size: 36px;
    line-height: 40px;
}
.desc{
    font-size: 15px;
    line-height: 30px;
    opacity: 75%;
}
.stat-num{
    display: grid;
    margin-top: 50px;
    gap:10px;
    grid-template-columns: repeat(3,1fr);
    
}
.stat-num{
    font-size: 14px;

}
.stat-num p{
    margin-top: 10px;
    opacity: 60%;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;

} 
.stat-wrapper{
    display: grid;
    gap:10px;

    grid-template-rows: repeat(3,1fr );
    width: 70%;
    height: 60%;
}

.stat-desc{
}

/* responsive media queries */
@media(max-width: 800px){
    .stat-img{
        height: 240px;
        order: -1;
        border-radius: 8px 8px 0px 0px;

    }
    .stats{
        width: 80vw;
        grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));

    }
    .stat-img::after{
        border-radius: 8px 8px 0px 0px;

    }
    .stat-desc .title{
        font-size: 28px;
        line-height: 30px;

    }
    .wrapper{
        align-items: start;
        padding: 10%;
    }
    
    
    
}
@media (max-width: 1145px){
    .stat-wrapper{
        height: 90%;
    }
}